<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<div id="menu-choice" th:fragment="menu">
    <img src="/logo.png" alt="Logo" id="logo">
    <div id="napisGlowny">
        <p>FILMOTEKA</p>
    </div>
    <div id="menu-choice-list">
        <a href="/movies">Movies</a>
        <a href="/tv-shows">Tv-Shows</a>
        <a href="/logout">Logout</a>
        <a href="/edit">Moje konto</a>
    </div>

</div>
</body>
</html>