<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Filmoteka</title>
    <link rel="stylesheet" href="main.css">
    <link rel="stylesheet" href="login.css">
    <link rel="stylesheet" href="common-controls.css">
</head>
<body>

<div th:replace="fragments.html :: menu"></div>

<form id="login-form" method="post">
    <div th:if="${info != null}" th:text="${info}" id="info"></div>
    <input type="text" placeholder="login" class="text-input" name="login" th:field="*{userModel.login}">
    <input type="password" placeholder="password" class="text-input" name="pass" th:field="*{userModel.pass}">
    <input type="submit" value="Zaloguj" id="form-submit">
    <a href="/register" id="register-link">Zarejestruj</a>
</form>
</body>
</html>